@inject IBananaService _bananaService;
@implements IDisposable
<div class="top-menu">
    <img src="icons/banana.png" alt="banana icon"/>
    <span class="popover-header">
        @_bananaService.Bananas
    </span>
    <AddBananas></AddBananas>
</div>


@code {
    

    protected override void OnInitialized()
    {
        _bananaService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _bananaService.OnChange -= StateHasChanged;
    }

}