@page "/build"
@inject IBananaService _bananaService;
@inject IUnitService _unitService;
@inject IToastService _toastService;
@attribute [Authorize]


<h3>Build</h3>

<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach (var unit in _unitService.Units)
        {
            <option value=@unit.Id>
                @unit.Title // @unit.BananaCost Bananas
            </option>
        }
    </select>
</div>


<button class="btn btn-primary" @onclick="BuildUnit">Build</button>

@if (needMoreBananas)
{
    <div class="validation-message">
        Not enough bananas! =(
    </div>
}

@code {
    int selectedUnitId = 1;
    bool needMoreBananas = false;

    public void BuildUnit()
    {
        var selectedUnit = _unitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId);

        if (_bananaService.Bananas < selectedUnit.BananaCost)
        {
            needMoreBananas = true;
            _toastService.ShowError("Not enough bananas!", "=(");
            return;
        }

        needMoreBananas = false;

        _bananaService.EatBananas(selectedUnit.BananaCost);
        _unitService.AddUnit(selectedUnitId);
    }
}